<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block layout_title %}Recruitment{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/layout/layout.css') }}">
        {% endblock %}
    </head>
    <body class="layout__body">
        <main class="layout__main">
            {% block layout_main %}{% endblock %}
        </main>
    </body>
</html>
